<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/chatGUI.css">
    <link rel="shortcut icon" href="#">

</head>

<body>
    <div id="chatContainer">
        <div id="chatMessages">
        </div>
        <form id="chatForm" onsubmit="messageSave(event)">
            <input type="text" name="chatInput" id="chatInput" placeholder="Enter message...">
            <button type="submit">Send</button>
        </form>
    </div>
</body>
<script src="js/chat.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>

</html>